@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300&family=Raleway:wght@300&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

span {
  vertical-align: middle;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  width : 100%;
  height: 75px;
  background: #403939;
  box-shadow: 0 8px 5px #574D4D;
}

.nav-burger {
  position: relative;
  float: right;
  margin-right: 30px;
  top: 28px;
}

.footerItem {
  transition: .5s;
}

.footerItem:hover {
  transition: all .5s ease-in-out;
  transform: translate(0,-10px);
  -webkit-transform: translate(0,-10px);
  -o-transform: translate(0,-10px);
  -moz-transform: translate(0,-10px);
  -webkit-transition: .5s ease; /* Safari and Chrome */
  -moz-transition: .5s ease; /* Firefox 4 */
  -o-transition: .5s ease; /* Opera */
}

.burgerMenu {
  z-index: 10;
  position: absolute;
  float: right;
  top: 60px;
  right: 10px;
  background-color: #EBD2DA;
  color: #403939;
  padding: 4px;
  width: 185px;
  height: 130px;
  text-align: center;
  border-radius: 10px;
  opacity: .8;
  /*box-shadow: 8px 8px 5px #574D4D;*/
  @apply grid grid-rows-3 grid-cols-1;
}

.burgerMenuItem {
  padding: 3px;
}

.burgerMenuItem:hover {
  background : #EE5180;
}

.content {
  min-height : 100vh;
  margin : 0;
  padding : 0;
}

.avia-footer {
  position : relative;
  margin-bottom : -140px;
  width: 100%;
  height: 140px;
  background: #403939;
  @apply grid md:grid-cols-11 sm:grid-cols-3 justify-items-center;
}

.active-turner {
  border-radius : 7px;
  border : 1px solid #EBD2DA;
  box-shadow: 6px 6px 5px #393434;
  color : #EBD2DA;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.active-turner:hover {
  transition : all 0.5s ease-in-out;
  background : #EE5180;
  cursor: pointer;
}

.card {
  position: relative;
  top: 40px;
  background-color: #403939;
  height: 520px;
  max-width: 540px;
  border-radius: 10px;
  box-shadow: 8px 8px 5px #574D4D;
}

.card span {
  font-weight: 500 !important;
  color: #EBD2DA;
  font-size: 17px;
}

.text-field {
  background : #EBD2DA;
  color : #B59797;
  border-radius: 6px;
  box-shadow: 6px 6px 5px #393434;
  outline : none;
  width : 380px;
  height : 50px;
  font-family: Arial, sans-serif;
  @apply px-3;
}

.service-text-field {
  border-radius: 30px;
  background-color: #EBD2DA;
  outline: none;
  color: #B59797;
  height: 50px;
  width: 350px;
  box-shadow: 2px 2px 5px #393434;
  font-family: 'Raleway', sans-serif;
}

.service-container {
  width : 350px;
}

@media (min-width: 768px)
{
  .service-text-field {
    width: 700px;
  }
  .service-container {
    width : 700px;
  }
}

.search-zoom {
  position: relative;
  float: right;
  bottom: 37px;
  right: 13px;
  cursor: pointer;
}

.service-card {
  /*background: linear-gradient(145deg, #ff5789, #d64973);*/
  /*background: linear-gradient(145deg, #fbe1e9, #d4bdc4);*/
  background: linear-gradient(145deg, #443d3d, #3a3333);
  box-shadow:  19px 19px 67px #983452,
  -19px -19px 67px #ff6eae;
  border-radius: 10px 10px 0 0;
  min-height : 500px;
  @apply px-4 py-2;
}

.service-card-item {
  background-color : #403939;
  border-radius: 10px;
  height : 50px;
  width : 100%;
  /*box-shadow: 7px 7px 7px #C9BABF;*/
  @apply py-2.5 px-4;
}

.service-card-item span {
  color : #EBD2DA;
  text-transform: uppercase;
  font-family: 'Roboto-Light', sans-serif;
  font-weight : normal;
  font-size : 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #393434;
  @apply py-1 px-4;
}

.service-card-item span:hover {
  cursor: pointer;
  background : #403939;
}

.service-card-footer {
  height : 50px;
  border-radius: 0 0 10px 10px;
  background-color : #403939;
  @apply py-3;
}

.gear {
  transition: 1s;
}

.gear:hover {
  transition: all 1s ease-in-out;
  transform: rotate(-360deg);
}

.profile-module {
  max-width: 500px;
  border-radius: 10px;
  padding : 2px;
  border : 1px solid #EBD2DA;
  background : none;
  box-shadow: 6px 6px 5px #393434;
}

.profile-module-content {
  background : #EBD2DA;
  height : 40px;
  max-width: 450px;
  border-radius: 0 0 10px 10px;
  box-shadow: 6px 6px 5px #393434;
  text-align: center;
  line-height : 30px;
}

.profile-module-content span {
  color : #403939 !important;
  font-weight : bolder !important;
}
